################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/APIService/obj/Debug/net7.0/APIService.assets.cache
/APIService/obj/Debug/net7.0/APIService.csproj.AssemblyReference.cache
/APIService/obj/Debug/net7.0/APIService.GeneratedMSBuildEditorConfig.editorconfig
/APIService/obj/Debug/net7.0/apphost.exe
/CAD/obj/Debug/net7.0/CAD.assets.cache
/CAD/obj/Debug/net7.0/CAD.csproj.AssemblyReference.cache
/CAD/obj/Debug/net7.0/CAD.GeneratedMSBuildEditorConfig.editorconfig
/CEN/bin/Debug/net7.0/CEN.dll
/CEN/bin/Debug/net7.0/CEN.pdb
/CEN/obj/Debug/net7.0/CEN.assets.cache
/CEN/obj/Debug/net7.0/CEN.csproj.AssemblyReference.cache
/CEN/obj/Debug/net7.0/CEN.csproj.CoreCompileInputs.cache
/CEN/obj/Debug/net7.0/CEN.csproj.FileListAbsolute.txt
/CEN/obj/Debug/net7.0/CEN.dll
/CEN/obj/Debug/net7.0/CEN.GeneratedMSBuildEditorConfig.editorconfig
/CEN/obj/Debug/net7.0/CEN.pdb
/CEN/obj/CEN.csproj.nuget.dgspec.json
/CEN/obj/CEN.csproj.nuget.g.props
/CEN/obj/project.assets.json
/CEN/obj/project.nuget.cache
/CLN/obj/project.nuget.cache
/CLN/obj/project.assets.json
/CLN/obj/CLN.csproj.nuget.g.props
/CLN/obj/CLN.csproj.nuget.dgspec.json
/CLN/bin/Debug/net7.0/CAD.dll
/CLN/obj/Debug/net7.0/CLN.pdb
/CLN/obj/Debug/net7.0/CLN.dll
/CLN/obj/Debug/net7.0/CLN.csproj.FileListAbsolute.txt
/CLN/obj/Debug/net7.0/CLN.csproj.CoreCompileInputs.cache
/CLN/obj/Debug/net7.0/CLN.assets.cache
/CLN/obj/Debug/net7.0/CLN.csproj.AssemblyReference.cache
/CLN/bin/Debug/net7.0/Services.pdb
/CLN/obj/Debug/net7.0/CLN.GeneratedMSBuildEditorConfig.editorconfig
/CLN/bin/Debug/net7.0/Services.dll
/CLN/bin/Debug/net7.0/CLN.dll
/CLN/bin/Debug/net7.0/CLN.pdb
/CLN/bin/Debug/net7.0/CEN.dll
/CLN/bin/Debug/net7.0/CEN.pdb
/CLN/bin/Debug/net7.0/CAD.pdb
/Services/obj/Services.csproj.nuget.g.props
/Services/obj/project.assets.json
/Services/obj/project.nuget.cache
/Services/obj/Services.csproj.nuget.dgspec.json
/Services/obj/Debug/net7.0/Services.csproj.CoreCompileInputs.cache
/Services/obj/Debug/net7.0/Services.assets.cache
/Services/obj/Debug/net7.0/Services.GeneratedMSBuildEditorConfig.editorconfig
/Services/obj/Debug/net7.0/Services.csproj.FileListAbsolute.txt
/Services/obj/Debug/net7.0/Services.dll
/Services/obj/Debug/net7.0/Services.csproj.AssemblyReference.cache
/Services/bin/Debug/net7.0/Services.dll
/Services/bin/Debug/net7.0/CEN.pdb
/Services/bin/Debug/net7.0/Services.pdb
/Services/bin/Debug/net7.0/CEN.dll
/Services/obj/Debug/net7.0/Services.genruntimeconfig.cache
/Services/obj/Debug/net7.0/Services.pdb
/.vs/ProjectEvaluation/webapi.metadata.v5.2
/.vs/ProjectEvaluation/webapi.projects.v5.2
/APIService/obj/Debug/net7.0/refint/APIService.dll
/APIService/obj/Debug/net7.0/APIService.pdb
/APIService/obj/Debug/net7.0/APIService.dll
/APIService/obj/Debug/net7.0/APIService.csproj.FileListAbsolute.txt
/CAD/obj/Debug/net7.0/ref/CAD.dll
/CAD/obj/Debug/net7.0/refint/CAD.dll
/CAD/obj/Debug/net7.0/CAD.pdb
/CAD/obj/Debug/net7.0/CAD.dll
/CAD/obj/Debug/net7.0/CAD.csproj.FileListAbsolute.txt
/CLN/obj/Debug/net7.0/ref/CLN.dll
/CLN/obj/Debug/net7.0/refint/CLN.dll
/CEN/obj/Debug/net7.0/ref/CEN.dll
/CEN/obj/Debug/net7.0/refint/CEN.dll
/APIService/obj/Debug/net7.0/ref/APIService.dll
/.vs/SumqaRumi/DesignTimeBuild/.dtbcache.v2
/APIService/obj/Debug/net7.0/APIService.csproj.CoreCompileInputs.cache
/CAD/obj/Debug/net7.0/CAD.csproj.CoreCompileInputs.cache
/.vs/SumqaRumi/v17/.suo
*.vsidx
*.vsidx
*.dll
*.pdb
APIService/bin/Debug/net7.0/CAD.dll
/CAD/obj/CAD.csproj.nuget.dgspec.json
/CAD/bin/Debug/net7.0/CAD.dll
/CAD/bin/Debug/net7.0/CAD.pdb
/CAD/bin/Debug/net7.0/CEN.dll
/CAD/bin/Debug/net7.0/CEN.pdb
/CAD/bin/Debug/net7.0/Services.dll
/CAD/bin/Debug/net7.0/Services.pdb
/CAD/obj/CAD.csproj.nuget.g.props
/CAD/obj/project.assets.json
/CAD/obj/project.nuget.cache
/APIService/bin/Debug/net7.0/APIService.dll
/APIService/bin/Debug/net7.0/APIService.exe
/APIService/bin/Debug/net7.0/APIService.pdb
/APIService/bin/Debug/net7.0/CAD.dll
/APIService/bin/Debug/net7.0/CAD.pdb
/APIService/bin/Debug/net7.0/CEN.dll
/APIService/bin/Debug/net7.0/CEN.pdb
/APIService/bin/Debug/net7.0/CLN.dll
/APIService/bin/Debug/net7.0/CLN.pdb
/APIService/bin/Debug/net7.0/Services.dll
/APIService/bin/Debug/net7.0/Services.pdb
/APIService/obj/Debug/net7.0/APIService.genruntimeconfig.cache
/APIService/obj/APIService.csproj.nuget.dgspec.json
/APIService/obj/APIService.csproj.nuget.g.props
/APIService/obj/project.assets.json
/APIService/obj/project.nuget.cache
/APIService/bin/Debug/net7.0/appsettings.Development.json
*.dll
*.pdb
*.dll
*.dll
